@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using Test1.Data
@using CashRegister.Models
@inject WeatherForecastService ForecastService
@inject VerlaufService VerlaufService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (einkaeufe == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var einkauf in einkaeufe)
            {
                <tr>
                    <td>@einkauf.Kaufdatum.ToShortDateString()</td>
                    <td>@einkauf.Belegnummer</td>
                    <td>@einkauf.Gesamtpreis</td>
                    <td>@einkauf.Kaufdatum</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Einkauf>? einkaeufe;

    protected override async Task OnInitializedAsync()
    {
        einkaeufe = await VerlaufService.GetVerlaufDaten();
    }
}
