<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CashRegister_Views</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span> 
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
             <div class="anything1">
                <NavLink class="nav-link" href="home">
                    <span class="oi oi-home" aria-hidden="true">
                        <style>
                            .anything1 {
                                position: fixed;
                                width: 220px;
                            }
                        </style>
                    </span> 
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-2">
             <div class="anything2">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-justify-left" aria-hidden="true">
                        <style>
                            .anything2 {
                                position: fixed;
                                width: 220px;
                                margin-left: 10px;
                                margin-top: 50px;
                            }
                        </style>
                    </span> 
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-3"  >
            <div class="anything3">
                <NavLink class="nav-link" href="fetch-data">
                    <span class="oi oi-cog" aria-hidden="true">
                        <style>
                            .anything3 {
                                position: fixed;
                                bottom: 0px;
                                left: 0px;
                                width:220px;
                                margin-left: 18px;
                                margin-bottom: 5px;
                            }
                        </style>
                    </span>       
            
                </NavLink>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
