@inject IDialogService DialogService

<MudDialog>
    <DialogContent>
        <label>GesamtPreis: @Gesamtpreis</label>
        <MudTextField @bind-Value="@Gegeben"  T="double" ></MudTextField>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="OpenSecondDialog">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public double Gesamtpreis { get; set; }
    [Parameter] public double Gegeben { get; set; }

    
    async Task OpenSecondDialog()
    {
        var parameters = new DialogParameters { ["Rueckgeld"] = (Gegeben - Gesamtpreis) };

        MudDialog.Close(DialogResult.Ok(Gegeben));

        DialogService.Show<DialogRueckGeld>("Rückgeld", parameters);
                
    }
}