@page "/"
@using System.Linq;
@using CashRegister.Models
@using CashRegister.DAL
@using CashRegister_DAL.DataAccessLayer

@*Button zum auswählen ob man die Kategorien von der Sennerei oder von der Gastro sehen will*@
<div class="body">
    <MudTabs Elevation="2" Rounded="true" Centered="true">
        <MudTabPanel Icon="@Icons.Filled.IncompleteCircle" Text="Sennerei" />
        <MudTabPanel Icon="@Icons.Filled.FoodBank" Text="Gastro" />
    </MudTabs>
</div>


<table>
    <tr valign="top">
        <td>
            @*Grid wird erstellt indem alle Papers reingepackt werden*@
            <MudGrid Style="width: 1120px; margin-top: 20px">
                <MudItem xs="14">
                    <MudGrid Justify="justification">

                        @*Für die Anzahl von dem int papers werden jetzt Papers erstellt (z.b papers = 4 Es werden dan 4 Paper erstellt)*@
                        @foreach (var kategorie in getKategorien)
                        {
                            //Hier werden Die Papers errstellt mit einer bestimten Größe(xs)
                            <MudItem xs="4">
                                <MudPaper @onclick="() => kategorieClick(kategorie)" Style=" background-color: #CFDDDB" Class="d-flex flex-column align-center justify-center mud-width-full py-8">
                                    <MudText Typo="Typo.h6">@kategorie</MudText>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudItem>
            </MudGrid>
            <MudDivider></MudDivider>
        
            <MudGrid Style="width: 1120px; margin-top: 20px">
                <MudItem xs="14">
                    <MudGrid Justify="justification">

                        @*Für die Anzahl von dem int papers werden jetzt Papers erstellt (z.b papers = 4 Es werden dan 4 Paper erstellt)*@
                        @foreach (var produkt in getProdukte)
                        {
                            //Hier werden Die Papers errstellt mit einer bestimten Größe(xs)
                            <MudItem xs="4">
                                <MudPaper @onclick="() => produktClick(produkt)" Style=" background-color: #CFDDDB" Class="d-flex flex-column align-center justify-center mud-width-full py-8">
                                    <MudText Typo="Typo.h6">@produkt</MudText>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </td>

        <td>
            @*Unten rechst vom Bildschirm wird der jetzige Beleg angezeigt*@
            <MudPaper Height="450px" Width="400px" Square="true" Class="rounded" Style="  background-color: #f0f0f0; margin-left: 100px; margin-top: 80%;">
              
                    <span class="groseschrif"><pre>Total:      €801.00</pre></span>
                    <MudDivider Style="margin-top: 20px;"/>
                    <span class="groseschrif"><pre>Gegeben:    €900.00</pre></span>
                    <span class="groseschrif"><pre>Rückgeld:    €99.00</pre></span>

                <MudFab Label="Kassa Öffnen" Style="background-color: #c9caee; width: 250px; margin-top: 50px; margin-left: 85px" />
                </MudPaper>
        </td>
    </tr>
</table>



@code {
    static CashRegisterContextDB context = new CashRegisterContextDB();
    EinkaufsPositionDAL einkaufsPositionData = new EinkaufsPositionDAL(context);

    static List<Kategorie> kategorien = context.Kategorie.ToList();
    static List<Produkt> Produkte = context.Produkt.ToList();

    public List<String> getKategorien {
        get{
            return kategorien.Select(x => x.KategorieName).ToList();
        }
        set { }
    }
    public List<string> getProdukte
    {
        get
        {
            return Produkte.Select(x => x.Name).ToList();
        }
        set { }
    }

    int papers = kategorien.Count; // anzahl der grid items
    Justify justification = Justify.FlexStart; 

    void UpdateBreaks(int index, int changeamount)
    {
        int newbreaks = 2; 
        newbreaks += changeamount;

        StateHasChanged();
    }

    public void kategorieClick(string kategorie)
    {
        Produkte = context.Produkt.Where(x => x.Kategorie.KategorieName == kategorie).ToList();
    }
    public void produktClick(string produkt)
    {
        Produkt selectedProducts = (Produkt)context.Produkt.Where(x => x.Name == produkt);

        einkaufsPositionData.Create(10, selectedProducts);


        context.SaveChanges();
        List<EinkaufsPosition> jd = context.EinkaufsPosition.ToList();
        
    }

}