.body {
    width: 609.5px;
    color: black;
}

.containerBody {
    height: 900px;
    Width: 100%;
    background-color: #fdfdfd;
}

.selectBody{
    margin-top: 50px;
}

.textBoxBody {
    margin-top: 50px;
}

.radioButtonBody {
    margin-top: 50px;
}

.textBoxBody {
    margin-top: 50px;
}